<%- include('partials/header') %>
    
    <h1>Hello World!</h1>
    <%= viewHomeContent %>

    <% viewBlogPost.forEach((post) => {  %>
        <h1><%= post.title  %></h1> 
        <p><%= post.content %></p>
    <% }); %>


    
<%- include('partials/footer') %>
